@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

:root {
  --dark: #2e2e2e;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Header */
body {
  margin: 0;
  padding: 0;
}

header {
  background: url("https://i.postimg.cc/g2rpnx6J/boy-canoeing-clear-water-Papua-New-Guinea.jpg");
  max-width: 100%;
  height: auto;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
}

header:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 800em;
  height: 10em;
  background: linear-gradient(to top, #ffffff, transparent);
  margin-left: 0%;
}

header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  mix-blend-mode: screen;
}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 20em;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  font-size: 0.5em;
  padding-top: 50em;
  padding-bottom: 40em;
}

#title {
  max-width: 100%;
  height: auto;
  font-family: "Dancing Script", cursive;
  font-size: 6vw;
  margin-bottom: 30px;
  text-align: center;
}
/*End of Header Here*/

/* NavBar and Progress Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation {
  background-color: rgb(240, 240, 240);
  color: var(--dark);
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-color: #000000;
  box-shadow: rgb(240, 240, 240);
}

.navList,
.nav-link {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 6rem;
  list-style: none;
  font-size: 1.3rem;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}
/* Main Page */
article {
  padding: 6rem 2rem;
  place-items: center;
  margin: auto;
}

article > * {
  width: 100%;
  border-radius: 1rem;
}

.title {
  font-size: 1.1em;
  color: #263238;
  margin-top: 100px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  margin-top: 8px;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.04);
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  transition: transform 0.2s;
}

.column:hover {
  transform: scale(1.02);
}
/* End of Main Page */

/* Graph 1 */
.wrapper {
  display: contents;
  max-width: 100%;
  height: auto;
}

.wrapper h3 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.wrapper h5 {
  text-align: left;
}

.line {
  height: 25px;
  min-width: 800px;
  margin: 0 auto 10px;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  padding: 0 0 0 10px;
  position: relative;
}

.line:before {
  content: "";
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  height: 25px;
  top: 0;
  z-index: -2;
}

.line:after {
  content: "";
  background: #333;
  height: 25px;
  transition: 0, 8s;
  display: block;
  width: 100%;
  animation: animate 1 4s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* Number 1 */
.line1:after {
  max-width: 13.25%;
}

.line2:after {
  max-width: 86.75%;
}
/* Number 2 */
.line3:after {
  max-width: 94%;
}

.line4:after {
  max-width: 11%;
}
/* Number 3 */
.line5:after {
  max-width: 100%;
}

.line6:after {
  max-width: 90%;
}

.line7:after {
  max-width: 70%;
}

.line8:after {
  max-width: 80%;
}

.line9:after {
  max-width: 100%;
}

@keyframes animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
/* End of Graph */

/* Custom Scroll bar for Firefox Browsers */
html {
  scrollbar-width: normal;
  scrollbar-color: #000000 #b9b9b9;
  scroll-behavior: smooth;
}

/* Scrollbar for chromuium browsers */
html::-webkit-scrollbar {
  width: 0.7vw;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(12, 12, 12, 0.76);
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

html::-webkit-scrollbar-track {
  background-color: #b9b9b9;
}

html::-webkit-scrollbar-track:hover {
  background-color: #818181;
}
/* End of Scroll Wheel */

/* Button */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

#container {
  grid-area: main;
  align-self: center;
  justify-self: center;
}

/* Footer */
.col_white_amrc {
  color: #fff;
}
footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.mb10 {
  padding-bottom: 15px;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}
.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}
.footer_ul_amrc li a {
  color: #ccc;
}
.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}
.fleft {
  float: left;
}
.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  color: #ddc;
  font-size: 14px;
  line-height: 1.6em;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}
.footer_ul2_amrc li p {
  display: table;
}
.footer_ul2_amrc li a:hover {
  text-decoration: none;
  color: #fff;
}
.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: rgba(255, 255, 255, 0.733);
  margin: 0 12px;
}

.fab fa-twitter {
  color: #fff;
}
/* End of footer */
